.main {
    margin-top: 5em;
}

.center {
    justify-content: center;
    padding: 10px;
}

.width-form {
    width: 40%;
    margin: 2em;
}

.item {
    padding: 15px 0px !important;
}

i.icon {
    float: right;
    font-size: 20px;
    cursor: pointer;
}